<div class="post-preview">
		<a href="<%= entry_path(entry.slug)%>">
				<h2 class="post-title">
					<%= entry.name %>
				</h2>
		</a>
		<p class="post-meta">Posted by <a href="#">Neyanbhbin</a> on <%= entry.updated_at.strftime('%F %T') %></p>
</div>
<hr>
