<div class="post-preview">
		<a href="post.html">
				<h2 class="post-title">
					<%= entry.name %>
				</h2>
				<h3 class="post-subtitle">
					<%= entry.content %>
				</h3>
		</a>
		<p class="post-meta">Posted by <a href="#">Neyanbhbin</a> on <%= entry.created_at.strftime('%F %T') %></p>
</div>
<hr>
