<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
		<div class="container">
				<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
								<div class="post-heading">
										<% if @entry %>
											<h1 class="blog-title"> <%= @entry.name %> </h1>
											<span class="meta">Posted by <a href="#">Neyanbhbin</a> on <%= @entry.created_at.strftime('%F %T') %></span>
										<% else %>
											<h1 class="blog-title"> <%= link_to "Neyanbhbin", root_path %> </h1>
											<span class="meta">I Know Nothing</span>
										<% end %>
								</div>
						</div>
				</div>
		</div>
</header>
