# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d89069a334f1ad718afee8eaf4693d017f5eed83b7a9196dada03273dd1ff298a6221c103fc5292e4fca083991049e3bb2e1dd2580ecccaad9da48de948f9ae6

test:
  secret_key_base: e861eb7ecded85f138e6dbd413841c29245578e2910aeef333b240b71ff86b9b591cb7604d18ae2f3370f80c3275050c5294e06286eac7af818eb36b1ada302d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
