<%= render "entries/header"%>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<h2 class="sub-title">I'm a Web Developer and Python fan.</h2>
			<br>
			<h3>About "Neyanbhbin"</h3>
			<p>The original name is Печальный ангел, he is a composer, one of his famous song is <a href="https://www.youtube.com/watch?v=M5fd6VOekzI">A Sad Angel</a>(Russian: Игорь Крутой). I fell in love with this song at the first time I listened it. Then it became one of my favorite names. I strongly recommand you guys to listen this song, even just for one time. You won't feel sad about life anymore after listenging it, trust me.</p>
			<p>
			原本的名字是Печальный ангел，他是一位俄罗斯作曲家，我很喜欢他的一首歌，名字叫做《悲伤的天使》，这是一首很有魔力的歌，配合着mv，会让对生活不如意的人豁然开朗，虽然它的名字叫做悲伤的天使。第一次听就让我深深的爱上了这首歌，自此，它便成为了我喜欢的名字之一。我很强烈的推荐这首歌给你们，很值得一听。
			</p>
			<br>
			<h3>About Myself</h3>
			<p>I'm a graduate student majoring in Computer Science specializing on data analysis. My dream is to become a data analyst with strong skill in programming. I used to be a web developer in a startup company. Python is my main language, it saves my day for its simplicity. I am familiar with Django and Rails, but I use Rails more, since in agile development, it's more powerful. Learning machine learning is my one of my tasks now, hope I can join my dream company in the future.</p>
			<br>
			<p>留学狗，典型的程序员。现就读于伊利诺伊理工，计算机科学研究生第一年，主攻数据分析方向，希望成为一名合格的，有着很强编程能力的数据分析师。曾从事web开发，熟悉Django, Rails。很喜欢Python这门语言，它让我的工作和生活都便利了很多。当然做web我最终还是选择了Rails，只因为敏捷开发它做的更好。现在正在努力学习机器学习和数据分析，希望有朝一日能够进入梦想的公司。</p>
		</div>
	</div>
</div>
